@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li{
    list-style-type: none;
    margin: 0;
}

main{
    height: 200%;
    width: 100%;
    background-color: rgba(218, 222, 255, 0.479);
    margin: 0;
    position: relative;
}
nav{
    height: 160px;
    width: 100%;
    /* background-color: #101213; */
}
h1{
    height: auto;
    text-align: center;
    margin-top: 2rem;
    font-family:'Montserrat', sans-serif;
}
p{
    text-align: center;
}
#grid{
    margin: 2rem auto;
    /* background-color: green; */
    height: auto;
    width: 70%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    gap:30px;
    grid-template-columns: repeat(5);
    grid-template-rows: repeat(3);
    grid-template-areas: "a b c"
    "d e f";

    z-index: 4;
}
.project-container{
    height: 350px;
    width: 290px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.479);
    position: relative;
    z-index: 4;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
aside .top{
    height: 51%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .bottom{
    position:absolute;
    bottom:0;
    left: 0;
    height: 49%;
    width: 100%;
    background-color:#ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bottom a{
    color: #292f3b;
    font-weight: 600;
}
.bottom p,
.bottom a{
    text-align: left;
    /* padding: 0; */
    width: 80%;
    height: auto;
    /* margin-left: 2rem; */
    /* background-color: #000000; */
}
